*{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: Georgia;
}


.jeden{
  position:fixed;


  color: white;
  text-align: center;
  width:100%;
  height: auto;
  background-color: #005B4F;

}
.wrapper{
  height: 400px;
  overflow: scroll;
  background-color: #e7e2ff;
}
.dwa{
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  background-color: #00897B;
  width:auto;
  height: 20px;
  text-align: center;
}
.kropki{

  margin: 40px;
}
.trzy{
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  background-color: #00897B;
  width:auto;
  height: 20px;
  text-align: center;
}
.obraz1{
  float:left;
  width: 20%;

}
img{
  margin: 20px;
  border-radius: 50%;
}
.opis{
  margin: 20px;
  float:left;
}

.hr{
  width:100%;
  margin-left: 20px;
  margin-right: 20px;
  clear:both;
}

.stopka{

  /*float: bottom;*/
  color: white;
  text-align: center;
  width:100%;
  background-color: #005B4F;}

.lewo{
  float:left;
  width: 50%;
}
.prawo{
  text-decoration: none;


  float:right;
  width: 50%;
}
.prawo a:link{
  color:white;
}
